.superheroes-table {
  padding: 0 0.5rem;
  background-color: var(--mat-sys-surface);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: var(--mat-sys-surface);
}
