<div class="superheroes-table">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let superhero; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let superhero">{{ superhero.name }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let superhero">
        <button
          mat-icon-button
          color="accent"
          (click)="editSuperhero(superhero)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteSuperhero(superhero)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['position', 'name', 'actions']"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['position', 'name', 'actions']"
    ></tr>
  </table>

  <div class="actions">
    <button mat-stroked-button (click)="addSuperhero()">Añadir</button>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
