.about-container {
  padding: 1rem;
  max-width: 90%;
  margin: 0 auto;
}

.project-description {
  text-align: justify;
  line-height: 1.6;
}

.author-info {
  padding-top: 0.5rem;
  text-align: end;
}
