@use "@angular/material" as mat;
@use "@angular/material/prebuilt-themes/magenta-violet.css";

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$blue-palette,
        tertiary: mat.$orange-palette,
      ),
      density: -2,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-onsurface);
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  align-items: center;
}
